[submodule "lib/BNO055_driver"]
	path = lib/BNO055_driver
	url = https://github.com/BoschSensortec/BNO055_driver.git
[submodule "lib/avr-i2c"]
	path = lib/avr-i2c
	url = https://github.com/aceopensource/avr-i2c.git
[submodule "lib/avr-printf"]
	path = lib/avr-printf
	url = https://github.com/aceopensource/avr-printf.git
[submodule "lib/avr-usart"]
	path = lib/avr-usart
	url = https://github.com/aceopensource/avr-usart.git
